<script>
    import Error from "$lib/components/ErrorComponent.svelte"
    import Cards from "$lib/components/CardsComponent.svelte";

    import { failedRequest, setIfNotUndefined } from "$lib/tools.js";

    export let data;
    export let response = data.response;
    export let family = data.content;
    export let breadcrumbs = [
        {name: "Accueil", url: "/"},
        {name: family.name, url: ('/families/' + family.slug)},
    ];
</script>

<svelte:head>
    <title>{setIfNotUndefined(family.name, "Inventaire")} | Louvain-li-Nux</title>
    <meta name="description" content="Inventaire des biens en location du Louvain-li-Nux" />
</svelte:head>

{#if failedRequest(response)}
    <Error response="{response}"/>
{:else}
    <Cards fetched="{family.categories}" subSection="categories" title="{family.name}" breadcrumbs="{breadcrumbs}"/>
{/if}