<script>
    import Error from "$lib/components/ErrorComponent.svelte"
    import Cards from "$lib/components/CardsComponent.svelte";

    import { failedRequest } from "$lib/tools.js";

    export let data;
    export let response = data.response;
    export let families = data.content;
    export let breadcrumbs = [
        {name: "Accueil", url: "/"},
    ]
</script>

<svelte:head>
    <title>Accueil | Louvain-li-Nux</title>
    <meta name="description" content="Inventaire des biens en location du Louvain-li-Nux" />
</svelte:head>

{#if failedRequest(response)}
    <Error response="{response}"/>
{:else}
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="text-center max-w-2xl mx-auto py-8 sm:py-16 lg:py-10 lg:max-w-none">
            <hr class="border-yellow-500 border-2">
            <h2 class="mt-16 mb-12 text-3xl font-extrabold text-gray-900 uppercase">
                Louvain-li-Nux, Kot-à-projet sur la promotion du Libre
            </h2>
            <div class="mt-6 mb-16 text-base space-y-12">
                <p>Le Louvain-li-Nux a pour projet de défendre et de promouvoir les valeurs du logiciel libre à travers la communauté estudiantine, citadine et académique de Louvain-la-Neuve. Pour ce faire, nous organisons de nombreuses activités permettant aux participants de se rencontrer et d'échanger autour de l'informatique, tout en découvrant une pléthore d'outils libres et, bien souvent, gratuits.</p>
            </div>
            <hr class="border-yellow-500 border-2">
        </div>
    </div>

    <Cards fetched="{families}" subSection="families" title="Familles d'Objets" breadcrumbs="{breadcrumbs}"/>
{/if}