<script>
    import Error from "$lib/components/ErrorComponent.svelte"
    import Lists from "$lib/components/ListsComponent.svelte";

    import { failedRequest, setIfNotUndefined } from "$lib/tools.js";

    export let data;
    export let response = data.response;
    export let category = data.content;
    export let breadcrumbs = (category.family === undefined ? [] : [
        {name: "Accueil", url: "/"},
        {name: category.family.name, url: ('/families/' + category.family.slug)},
        {name: category.name, url: ('/categories/' + category.slug)},
    ]);
</script>

<svelte:head>
    <title>{setIfNotUndefined(category.name, "Inventaire")} | Louvain-li-Nux</title>
    <meta name="description" content="Inventaire des biens en location du Louvain-li-Nux" />
</svelte:head>

{#if failedRequest(response)}
    <Error response="{response}"/>
{:else}
    <Lists fetched="{category.inventories}" subSection="inventories" title="{category.name}" breadcrumbs="{breadcrumbs}"/>
{/if}
