<script>
    import Error from "$lib/components/ErrorComponent.svelte"
    import Details from "$lib/components/DetailsComponent.svelte";

    import { failedRequest } from "$lib/tools.js";

    export let data;
    export let response = data.response;
    export let inventory = data.content;
    export let breadcrumbs = (inventory.category === undefined ? [] : [
        {name: "Accueil", url: "/"},
        {name: inventory.category.family.name, url: ('/families/' + inventory.category.family.slug)},
        {name: inventory.category.name, url: ('/categories/' + inventory.category.slug)},
        {name: inventory.description, url: ('/inventories/' + inventory.id)},
    ]);
</script>

<svelte:head>
    <title>Inventaire | Louvain-li-Nux</title>
    <meta name="description" content="Inventaire des biens en location du Louvain-li-Nux" />
</svelte:head>

{#if failedRequest(response)}
    <Error response="{response}"/>
{:else}
    <Details fetched="{inventory}" breadcrumbs="{breadcrumbs}"/>
{/if}
