<script>
    import Lists from "$lib/components/ListsComponent.svelte";

    import { useFetch } from "$lib/useFetch.js";

    async function fetchSearch() {
        search = currentSearch;
        const resource = `api/inventories/search`;
        const { _, data } = await useFetch('POST', resource, {searchField: search});
        searchResult = data;
    }

    let currentSearch = ""
    let search = ""
    export let searchResult = [];
</script>

<svelte:head>
    <title>Recherche | Louvain-li-Nux</title>
    <meta name="description" content="Inventaire des biens en location du Louvain-li-Nux" />
</svelte:head>

<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="px-4 pt-2 pb-3 space-y-1 sm:px-3">
        <form action="/inventories/search" method="post" on:submit|preventDefault={fetchSearch}>
            <label class="relative block mt-6 mb-6">
                <span class="sr-only">Recherche</span>
                <span class="absolute inset-y-0 left-0 flex items-center pl-2" on:click={fetchSearch}>
                    <i class="fill-slate-300 text-slate-400 fas fa-search text-xl hover:text-yellow-600"></i>
                </span>
                <input class="text-gray-700 placeholder:italic placeholder:text-slate-400 block border border-gray-800 w-full rounded-md py-3 pl-9 shadow-sm focus:outline-none focus:border-yellow-600 focus:ring-yellow-600 focus:ring-1 sm:text-sm"
                       id="searchField" name="searchField" bind:value={currentSearch}
                       placeholder="Rechercher un objet..." type="text"/>
            </label>
        </form>

        <!-- Nothing as found -->
        {#if (searchResult.length === 0)}
            <!-- Search not executed -->
            {#if (search.length === 0)}

            <!-- Search too small (<= 2) -->
            {:else if (search.length <= 2)}
                <div class="bg-orange-100 border-t-4 border-orange-500 rounded-b text-teal-900 px-4 py-3 shadow-md" role="alert">
                    <div class="flex">
                        <div class="py-1">
                            <svg class="fill-current h-6 w-6 text-orange-500 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                <path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/>
                            </svg>
                        </div>
                        <div>
                            <p class="font-bold">Recherche trop courte</p>
                            <p class="text-sm">La recherche effectuée est trop courte.</p>
                        </div>
                    </div>
                </div>

            <!-- Nothing as found -->
            {:else}
                <div class="bg-orange-100 border-t-4 border-orange-500 rounded-b text-teal-900 px-4 py-3 shadow-md" role="alert">
                    <div class="flex">
                        <div class="py-1">
                            <svg class="fill-current h-6 w-6 text-orange-500 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                <path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/>
                            </svg>
                        </div>
                        <div>
                            <p class="font-bold">Recherche non-aboutie</p>
                            <p class="text-sm">Aucun objet contenant le mot "{search}" n'a été trouvé dans notre inventaire.</p>
                        </div>
                    </div>
                </div>
            {/if}
        {/if}
    </div>
</div>

{#if (searchResult.length > 0 && search.length > 2)}
    <Lists fetched="{searchResult}" subSection="inventories" title="Recherche pour '{search}'" breadcrumbs="{[]}"/>
{/if}
