<script>
    import "./Header.css"
    import HeaderData from "./HeaderData.svelte";
    import {sections} from "./Header.js";
    import Tux from "$lib/assets/llnux-logo.svg"

    let hideSectionsMobile = true;
</script>

<div class="min-h-full">
    <nav class="bg-gray-800">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex items-center justify-between h-28">
                <div class="flex items-center">
                    <div class="flex-shrink-0">
                        <!-- Title and Tux Logo -->
                        <a class="justify-center space-x-2.5" href="/" title="Louvain-li-Nux">
                            <img class="h-20 w-20" src="{Tux}" alt="Tux"/>
                            <span class="text-white text-xl">Louvain-li-Nux</span>
                        </a>
                    </div>
                    <div class="hidden md:block">
                        <div class="ml-10 flex items-baseline space-x-4">
                            <HeaderData sections="{sections}"/>
                        </div>
                    </div>
                </div>

                <div class="flex">
                    <div class="">
                        <!-- Search button -->
                        <a href="/inventories/search">
                            <button type="button" class="md:block text-2xl inline-flex items-center justify-center p-2 rounded-md text-white hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
                                <span class="sr-only">Recherche</span>
                                <i class="fas fa-search text-2xl"></i>
                            </button>
                        </a>
                    </div>

                    <div class="md:hidden">
                        <!-- Mobile menu button -->
                        <button type="button" class="text-2xl inline-flex items-center justify-center p-2 rounded-md text-white hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white" aria-controls="mobile-menu" aria-expanded="false"
                                on:click={() => hideSectionsMobile = !hideSectionsMobile}>
                            <span class="sr-only">Sections</span>
                            <i class="fas fa-bars text-2xl {!hideSectionsMobile ? 'hidden' : 'block'}"></i>
                            <i class="fas fa-times text-2xl {hideSectionsMobile ? 'hidden' : 'block'}"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>


        <!-- Mobile Sections -->
        <div class="md:hidden">
            <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3 {hideSectionsMobile ? 'hidden' : ''}">
                <HeaderData sections="{sections}"/>
            </div>
        </div>
    </nav>
</div>


