header {
	display: flex;
	justify-content: space-between;
}

nav {
	font-family: "Open Sans", Ubuntu, sans-serif;
}

nav a {
	display: flex;
	height: 100%;
	align-items: center;
	padding: 0 1em;
	color: var(--heading-color);
	font-weight: 700;
	font-size: 0.8rem;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	text-decoration: none;
	transition: color 0.2s linear;
}

a:hover {
	color: var(--accent-hover-color);
	text-decoration: none;
}
