<script>
    export let sections
</script>

<!-- Current: "bg-gray-900 text-white", Default: "text-gray-300" -->
{#each sections as section}
    {#if section.current}
        <a href={section.url} class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium" aria-current="page">{section.name}</a>
    {:else}
        <a href={section.url} target="{section.target}" class="text-gray-300 px-3 py-2 rounded-md text-sm font-medium">{section.name}</a>
    {/if}
{/each}