<script>
    import "./Footer.css"
    import FooterData from "./FooterData.svelte";
</script>

<br>
<footer>
    <div class="min-h-full ">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <hr class="border-t-yellow-500 border-t-2">
            <div class="hidden md:flex items-center justify-center h-16 text-sm">
                <FooterData/>
            </div>
            <div class="md:hidden flex items-center justify-center h-16 text-xs">
                <FooterData/>
            </div>
        </div>
    </div>
</footer>
