<div class="flex items-center space-x-3">
    <a class="text-gray-800" href="https://louvainlinux.org/nous-contacter" title="Notre adresse" target="_blank" rel="noreferrer noopener">
        <i class="fas fa-map-marker-alt"></i>
        12, Rue Constantin Meunier 1348 Louvain-la-Neuve
    </a>
    <a class="text-gray-800" href="mailto:info@louvainlinux.org" title="Notre email">
        <i class="fas fa-envelope"></i>
        info@louvainlinux.org
    </a>
    <div class="footer__icons">
        <a class="" href="https://www.facebook.com/LouvainliNuxKap" title="Facebook" target="_blank" rel="noreferrer noopener">
            <i class="fab fa-facebook text-2xl"></i>
        </a>
        <a class="" href="https://gitlab.com/louvainlinux" title="GitLab" target="_blank" rel="noreferrer noopener">
            <i class="fab fa-gitlab text-2xl"></i>
        </a>
        <a class="" href="https://discord.gg/S2AxqqAnTX" title="Discord" target="_blank" rel="noreferrer noopener">
            <i class="fab fa-discord text-2xl"></i>
        </a>
        <a class="" href="https://instagram.com/louvainlinux" title="instagram" target="_blank" rel="noreferrer noopener">
            <i class="fab fa-instagram text-2xl"></i>
        </a>
    </div>
</div>