.footer__icons {
    margin: 15px 0;
}
.footer__icons a {
    padding: 0 6px;
}

.footer__icons i {
    color: var(--text-color);
    transition: 0.3s;
}
.footer__icons i:hover {
    color: var(--accent-hover-color);
}

a {
    transition: 0.3s;
}
