<script>
    export let breadcrumbs;
</script>

<nav class="bread rounded-md w-full mb-5 -ml-3">
    <ol class="list-reset flex">
        {#each breadcrumbs as breadcrumb, i}
            {#if i === breadcrumbs.length-1}
                <li><span class="text-gray-500 mx-2">{breadcrumb.name}</span></li>
            {:else}
                <li><a href="{breadcrumb.url}" class="text-purple-700">{breadcrumb.name}</a></li>
                <li><span class="text-gray-500 mx-2">/</span></li>
            {/if}
        {/each}
    </ol>
</nav>