<script>
    import BreadCrumbs from "./BreadCrumbsComponents.svelte";

    import { setPictureSrc } from "$lib/tools.js";

    export let fetched
    export let title
    export let subSection
    export let breadcrumbs
</script>

<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="max-w-2xl mx-auto py-8 lg:py-10 lg:max-w-none">
        <BreadCrumbs breadcrumbs="{breadcrumbs}"/>
        <h2 class="text-3xl font-extrabold text-gray-900">{title}</h2>
        <div class="mt-6 space-y-12 lg:space-y-0 lg:grid lg:grid-cols-3 lg:gap-x-6">
            {#each fetched as data}
                <div class="group relative">
                    <div class="relative w-full h-80 bg-white rounded-lg overflow-hidden group-hover:opacity-75 sm:aspect-w-2 sm:aspect-h-1 sm:h-64 lg:aspect-w-1 lg:aspect-h-1">
                        <img src="{setPictureSrc((data === null ? null : data.picture))}" alt="{data.slug}-picture" class="w-full h-full object-center object-cover">
                    </div>
                    <h3 class="mt-6 text-xl text-gray-500">
                        <a href="/{subSection}/{data.slug}">
                            <span class="absolute inset-0"></span>
                            {data.name}
                        </a>
                    </h3>
                    <p class="text-sm font-semibold text-gray-900">{data.examples === undefined ? "" : data.examples}</p>
                </div>
            {/each}
        </div>
    </div>
</div>