<script>
    import BreadCrumbs from "./BreadCrumbsComponents.svelte";

    import { setPictureSrc } from "$lib/tools.js";
    import { setQualityBool, setQualityBoolColors } from "$lib/structureInventory.js";

    export let fetched
    export let breadcrumbs
</script>

<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="max-w-2xl mx-auto py-8 lg:py-10 lg:max-w-none">
        <BreadCrumbs breadcrumbs="{breadcrumbs}"/>
    </div>
</div>
<div class="max-w-2xl mx-auto mb-10 -mt-10 px-4 grid items-center grid-cols-1 gap-y-16 gap-x-8  lg:px-8 lg:max-w-7xl lg:px-8 {fetched.picture === null ? '' : 'lg:grid-cols-2'}">
    <div>
        <h2 class="text-3xl font-extrabold tracking-tight text-gray-900">{fetched.description}</h2>

        {#if (fetched.eligible_rental)}
            {#if (fetched.remaining_number > 0)}
                <div class="mt-4">
                    <p class="text-teal-600"><span class="underline underline-offset-2">
                        Si (et seulement si), vous êtes un KAP, un Cercle, ou une Régionale affilié à Louvain-la-Neuve,</span><br>
                        vous pouvez nous louer cet objet en nous envoyant un mail à
                        "<a href="mailto:info@louvainlinux.org">info@louvainlinux.org</a>"
                        en mentionnant que vous désirez <span class="text-lime-600 underline underline-offset-2 font-extrabold">l'objet N°{fetched.id}</span>
                    </p>
                </div>
            {:else}
                <div class="mt-4">
                    <p class="text-red-600"><span class="underline underline-offset-2">
                        Désolé, mais cet article n'est plus en stock.
                    </p>
                </div>
            {/if}
        {/if}

        <h3 class="mt-12 mb-2 text-xl text-gray-800 sm:text-2xl ">Détails</h3>
        <dl class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-3 sm:gap-y-16 lg:gap-x-8">
            <div class="border-t border-yellow-500 pt-4">
                <dt class="font-medium text-gray-700">Marque & Modèle</dt>
                <dd class="px-2 mt-2 text-sm text-gray-500">{fetched.brand} | {fetched.model}</dd>
            </div>

            <div class="border-t border-yellow-500 pt-4">
                <dt class="font-medium text-gray-700">Quantité</dt>
                <dd class="px-2 mt-2 text-sm text-gray-500">{fetched.remaining_number} en stock</dd>
            </div>

            <div class="border-t border-yellow-500 pt-4">
                <dt class="font-medium text-gray-700">Prix de la location</dt>
                <dd class="px-2 mt-2 text-sm text-gray-500">{fetched.price_rental}€/sem.</dd>
            </div>
        </dl>

        {#if (fetched.remaining_number > 0)}
            <h3 class="mt-12 mb-2 text-xl text-gray-800 sm:text-2xl">Conditionnement</h3>
            <dl class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-3 sm:gap-y-16 lg:gap-x-8">
                <div class="border-t border-yellow-500 pt-4">
                    <dt class="font-medium text-gray-700">Allure</dt>
                    <dd class="px-2 mt-2 inline-flex text-sm leading-5 font-semibold rounded-full {setQualityBoolColors(fetched.item_quality_hard)}">
                        {setQualityBool(fetched.item_quality_hard)}
                    </dd>
                </div>

                <div class="border-t border-yellow-500 pt-4">
                    <dt class="font-medium text-gray-700">Fonctionnement</dt>
                    <dd class="px-2 mt-2 inline-flex text-sm leading-5 font-semibold rounded-full {setQualityBoolColors(fetched.item_quality_soft)}">
                        {setQualityBool(fetched.item_quality_soft)}
                    </dd>                </div>

                {#if (fetched.item_quality_info !== null)}
                    <div class="border-t border-yellow-500 pt-4">
                        <dt class="font-medium text-gray-700">Commentaires</dt>
                        <dd class="px-2 mt-2 text-sm text-gray-500">{fetched.item_quality_info}</dd>
                    </div>
                {/if}
            </dl>

            {#if (fetched.accessories)}
                <h3 class="mt-12 mb-2 text-xl text-gray-800 sm:text-2xl">Accessoires</h3>
                <dl class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 sm:gap-y-16 lg:gap-x-8">
                    <div class="border-t border-yellow-500 pt-4">
                        <dt class="font-medium text-gray-700">État</dt>
                        <dd class="px-2 mt-2 inline-flex text-sm leading-5 font-semibold rounded-full {setQualityBoolColors(fetched.accessories_quality)}">
                            {setQualityBool(fetched.accessories_quality)}
                        </dd>
                    </div>

                    {#if (fetched.accessories_info !== null)}
                        <div class="border-t border-yellow-500 pt-4">
                            <dt class="font-medium text-gray-700">Commentaires</dt>
                            <dd class="px-2 mt-2 text-sm text-gray-500">{fetched.accessories_info}</dd>
                        </div>
                    {/if}
                </dl>
            {/if}

            {#if (fetched.box)}
                <h3 class="mt-12 mb-2 text-xl text-gray-800 sm:text-2xl">Boîte</h3>
                <dl class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 sm:gap-y-16 lg:gap-x-8">
                    <div class="border-t border-yellow-500 pt-4">
                        <dt class="font-medium text-gray-700">État</dt>
                        <dd class="px-2 mt-2 inline-flex text-sm leading-5 font-semibold rounded-full {setQualityBoolColors(fetched.box_quality)}">
                            {setQualityBool(fetched.box_quality)}
                        </dd>
                    </div>

                    {#if (fetched.box_info !== null)}
                        <div class="border-t border-yellow-500 pt-4">
                            <dt class="font-medium text-gray-700">Commentaires</dt>
                            <dd class="px-2 mt-2 text-sm text-gray-500">{fetched.box_info}</dd>
                        </div>
                    {/if}
                </dl>
            {/if}
        {/if}
    </div>

    {#if (fetched.picture !== null)}
        <div class="pl-20">
            <img src="{setPictureSrc(fetched.picture)}" alt="" class="bg-gray-100 rounded-lg">
        </div>
    {/if}
</div>