<script>
    export let response
</script>

<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="max-w-2xl mx-auto py-8 sm:py-16 lg:py-10 lg:max-w-none">
        <h2 class="text-6xl flex items-center justify-center">{response.status}</h2>
        <p class="flex items-center justify-center">{response.message}</p>
    </div>
</div>