<script>
    import BreadCrumbs from "./BreadCrumbsComponents.svelte";

    import { setQualityBool, setQualityBoolColors } from "$lib/structureCategory.js";

    export let fetched
    export let title
    export let subSection
    export let breadcrumbs
</script>

<div class="overflow-hidden max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="max-w-2xl mx-auto py-8 lg:py-10 lg:max-w-none">
        <BreadCrumbs breadcrumbs="{breadcrumbs}"/>
        <h2 class="text-3xl font-extrabold text-gray-900">{title}</h2>
        <div class="overflow-hidden mt-6 space-y-12 lg:space-y-0 lg:grid">
            <ul class="divide-y divide-gray-200">
                {#each fetched as inventory}
                    <li>
                        <a href="/{subSection}/{inventory.id}" class="block hover:bg-gray-50 hover:rounded-lg">
                            <div class="px-4 py-4 sm:px-6">
                                <div class="flex items-center justify-between">
                                    <div class="font-medium truncate">
                                        {inventory.description}
                                    </div>
                                    <div class="ml-2 flex-shrink-0 flex space-x-1">
                                        {#if inventory.remaining_number > 0}
                                            <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full {setQualityBoolColors(inventory.item_quality_hard, inventory.item_quality_soft)}">
                                                {setQualityBool(inventory.item_quality_hard, inventory.item_quality_soft)}
                                            </span>
                                        {/if}
                                        <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full {inventory.remaining_number > 0  ? 'bg-purple-100 text-purple-800' : 'bg-red-100 text-red-800'}">
                                            {inventory.remaining_number} en stock
                                        </span>
                                    </div>
                                </div>
                                <div class="mt-2 flex justify-between">
                                    <div class="sm:flex">
                                        <div class="mr-6 flex items-center text-sm text-gray-500">
                                            {inventory.brand} | {inventory.model}
                                        </div>
                                    </div>
                                    <div class="flex items-center text-sm text-gray-500">
                                        {inventory.price_rental}€/sem.
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                {/each}
            </ul>
        </div>
    </div>
</div>